* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
body {
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container {
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: auto;
    border-radius: 20px;
}
.container .icon-top {
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 12%;
    border-radius: 50%;
    background: rgba(58, 57, 57, 0.4);
}
.container .heading {
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 0px;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    margin-left: 20px;
    letter-spacing: 1px;
}
.container .body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: -20px 20px 0 20px;
}
.container .body p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    color: hsl(216, 12%, 54%);
}
.container .body .rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}
.container .body .rating span{
    display: block;
    padding: 10px 16px;
    border-radius: 50%;
    background: rgba(58, 57, 57, 0.4);
    color: hsl(217, 12%, 63%);
    transition: all 0.4s;
    cursor: pointer;
}
.container .body .rating span:hover {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
.container .body .rating .span.active {
    background-color: red;
}
.container .body .submit{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.container .body .submit a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
    width: 100%;
    padding: 8px;
    border-radius:25px ;
    letter-spacing: 1px;
    transition: all 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}
.container .body .submit a:hover {
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
}
.container .body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
}
.container .body2 .icon {
    display: block;
    margin-top: 20px;
}
.container .body2 .get {
    display: block;
    padding: 6px 14px;
    border-radius: 20px;
    background: rgba(83, 83, 83, 0.4);
    color: hsl(25, 97%, 53%);
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
.toggle {
    display: none;
}
.container .body2 .thank {
    display: block;
    color: hsl(0, 0%, 100%);
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}
.container .body2 .main {
    display: flex;
    align-items: center;
    text-align: center;
    color: hsl(216, 12%, 54%);
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.container .body2 .main p {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
@media only screen and (max-width: 425px) {
    .container {
        max-width: 300px;
        height: auto;
    }
    .container .body p {
        font-size: 13px;
    }
}